---
layout: prozin/generic
title: Bladwijzers
page_type: bookmarks
show: 
  - medicines
  - news
  - editorial
---

{% include prozin/page-head.html %}

<div 
	class="page-module type-links">
	<h2 
		class="page-module-group-title">
			
	</h2>	
    
    {% if page.show %}
    	{% assign this_show = page.show %}
        {% for section in this_show %}
            {% capture this_url %}/{{ section }}{% endcapture %}
            {% capture this_label %}label_{{ section | replace: '-','_' }}{% endcapture %}
            {% include prozin/bookmarked-list.html 
                cols="3"
                title_class="page-module-group-title"
                url=this_url
                label=this_label
                collection=section %}
        {% endfor %}
    {% else %}
        {% include patterns/i18n id="message_no_bookmarks" %}
    {% endif %} 
</div>