---
layout: prozin/generic
title: Bladwijzers
page_type: bookmarks
---

{% include prozin/page-head.html
    icon="bookmark" %}

<div 
	class="page-module type-links">
	<h2 
		class="page-module-group-title">
			
	</h2>	
    
    {% capture this_url %}/{{ section }}{% endcapture %}
    {% capture this_label %}label_{{ section | replace: '-','_' }}{% endcapture %}
    {% include prozin/bookmarked-list.html 
        cols="3"
        title_class="page-module-group-title"
        url=this_url
        label=this_label
        collection=section %}
</div>