---
layout: prozin/generic
---

<div
	class="document-body">
	<div
		class="document-content"
		id="document-content">
		<ul
			class="menu tiptap-image-context-menu">
		    <li>
		      	<button
		        	type="button"
		        	class="icon-edit close-panel tiptap-edit-image">{% include patterns/i18n id="patterns.label_edit" %}</button>
		    </li>
		    <li>
		      	<button
		        	type="button"
		        	class="icon-trash close-panel tiptap-remove-image">{% include patterns/i18n id="patterns.label_remove" %}</button>
		    </li>
		</ul>
	</div>
</div>
