---
layout: prozin/modal
title: label_internal_link
panel_style: panel
panel_size: medium
buttons:
  - label: label_insert_imp
    type: submit
    class: 'tiptap-confirm default close-panel icon-ok-circle'
  - label: label_cancel
    type: button
    class: 'close-panel icon-cancel-circle'
---

<form
    class="pat-form">
	<fieldset 
		class="vertical">
		<label>	
			{% include patterns/i18n id="label_page" %}
			<input
				class="pat-autosuggest" 
				type="text" 
				name="internal"
				placeholder="Zoek en selecteer een pagina op deze site"
				data-pat-autosuggest="
					allow-new-words: false; 
		            maximum-selection-size: 1; 
					ajax-search-index: text; 
					ajax-url: /dialogues/cms/internal-links.json;" />
		</label>
        <label>
            {% include patterns/i18n id="label_link_text" %}
            <input
                type="text"
                name="tiptap-text">
        </label>
	</fieldset>
</form>