---
layout: prozin/modal
title: label_hyperlink_imp
buttons:
  - label: label_insert
    type: submit
    class: 'tiptap-confirm default close-panel icon-ok-circle'
  - label: label_cancel
    type: button
    class: 'close-panel icon-cancel-circle'
panel_class: panel medium hyperlink
---

{% include prozin/toolbar-link-panel.html %}

<div
    id="link-panel-content" 
    class="link-panel-content">
    <form
        id=""
        class="pat-form">

        <fieldset 
            class="vertical">
            <label
            	id="link-panel-url-field">
            	{% include patterns/i18n id="patterns.label_url" %}
				<input
					class="pat-autofocus" 
					type="url" 
					name="tiptap-href"
					placeholder="Typ of plak een externe URL" />
            </label>
            <label>
                {% include patterns/i18n id="label_link_text" %}
                <input
                    type="text"
                    name="tiptap-text">
            </label>
            {% comment %}
                <label
                    class="pat-checklist">
                    Open in new window
                    <input
                        type="checkbox"
                        name="tiptap-target"
                        value="_blank">
                </label>
            {% endcomment %}
        </fieldset>
    </form>    
</div>
