---
layout: prozin/modal
title: label_copublication
action: /guide/standaarden/registratiestandaarden/2015-01-02-Anogenitale-lichen-sclerosus--Federatie-
inject: ''
buttons:
  - label: label_save_imp
    type: submit
    class: 'default icon-ok-circle'
  - label: label_cancel_imp
    type: button
    class: 'close-panel icon-cancel-circle'
---

<article 
	class="pat-rich">
	<p>
		{% include patterns/i18n id="message_copublication" %}
	</p>
</article>
<fieldset 
	class="horizontal">
	{% include prozin/form-field-co-publication.html %}
</fieldset>