---
layout: prozin/modal
title: label_edit_header
action: '/editorial/begrippenlijst-edit'
inject: '#begrippenlijst-advies-title-segment'
buttons:
  - label: label_save
    type: submit
    class: 'default close-panel icon-ok-circle'
  - label: label_cancel
    type: button
    class: 'close-panel icon-cancel-circle'
panel_class: panel medium add-section
---

<fieldset 
    class="horizontal">
    <label>
        {% include patterns/i18n id="label_section_name" %}
        <input 
            type="text"
            value="Advies"
            class="pat-autofocus" 
            name="">
    </label>
    <fieldset class="pat-checklist">
        <label>
            {% include patterns/i18n id="label_show_section_header" %}
            <input 
                type="checkbox"
                checked 
                name="">
        </label>
    </fieldset>
</fieldset>
