---
layout: prozin/modal
title: label_image
buttons:
  - label: label_insert_imp
    type: button
    class: 'tiptap-confirm default close-panel icon-ok-circle'
  - label: label_cancel_imp
    type: button
    class: 'close-panel icon-cancel-circle'
panel_class: panel large image-picker
---

{% include prozin/image-panel-toolbar.html %}

<div
    class="image-panel-content"
    id="image-panel-content">
    {% include prozin/image-selector.html
      columns="6"
      cropping="contain" %}
</div>


