---
layout: prozin/modal
title: label_publish_imp
action: /guide/standaarden/registratiestandaarden/2015-01-02-Anogenitale-lichen-sclerosus--Federatie-
inject: ''
buttons:
  - label: label_i_am_sure_publish_now
    type: submit
    class: 'default icon-ok-circle'
  - label: label_cancel_imp
    type: button
    class: 'close-panel icon-cancel-circle'
panel_style: panel
panel_size: medium
---

<article
	class="pat-rich">
	<p>
		{% include patterns/i18n id="message_workflow_transition_publish" %}
		{% include patterns/i18n id="message_workflow_transition_publish_previous_version" %}
	</p>
</article>
<div 
	class="pat-well">
	<h3>{% include patterns/i18n id="label_copublication" %}</h3>
	<p>
		{% include patterns/i18n id="message_copublication" %}
		{% include patterns/i18n id="message_copublication_conditions" %}
	</p>
	<fieldset 
		class="horizontal">
			{% include prozin/form-field-co-publication.html %}
	</fieldset>
</div>