---
layout: prozin/modal
title: label_publish_imp
action: /dialogues/cms/news#listing
inject: ''
panel_style: panel
panel_size: medium
panel_instance: batch-tagging
buttons:
  - label: label_tag_imp
    type: submit
    class: 'default icon-ok-circle close-panel'
  - label: label_cancel_imp
    type: button
    class: 'close-panel icon-cancel-circle'
---

<article
	class="pat-rich">
	<p>
		{% include patterns/i18n id="message_tag_batch" %}
	</p>
</article>

<fieldset
    class="vertical">
    {% include prozin/form-field-tags.html %}
</fieldset>