---
layout: prozin/modal
title: label_new_image
action: /dialogues/image-bank/#listing
inject: ''
buttons:
  - label: label_save_imp
    type: submit
    class: 'default icon-ok-circle close-panel'
  - label: label_cancel_imp
    type: button
    class: 'close-panel icon-cancel-circle'
panel_class: medium panel
---

<fieldset 
	class="form-panel horizontal">
	<label>
		{% include patterns/i18n 
			id="patterns.label_title" %}
		<input
			class="pat-autofocus"
			required 
			type="text" 
			name="">
	</label>
	{% include prozin/form-fields-image.html %}
</fieldset>