---
layout: prozin/modal
title: label_image
action: /dialogues/cms/edit-news-item-with-image#image-selection
inject: ''
buttons:
  - label: label_insert_imp
    type: submit
    class: 'default close-panel icon-ok-circle'
  - label: label_cancel
    type: button
    class: 'close-panel icon-cancel-circle'
panel_class: panel medium image-picker
---

{% include prozin/image-panel-toolbar.html %}

<div
    class="image-panel-content"
    id="image-panel-content">
    {% include prozin/image-selector.html %}
</div>


